---
import ServiceCard from './ServiceCard.astro';

interface Props {
  services: {
    title: string;
    description: string;
    image: string;
    icon: string;
    slug: string;
  }[];
}

const { services } = Astro.props;
---

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
  {services.map(service => (
    <ServiceCard service={service} />
  ))}
</div>