---
import { Image, Picture } from "astro:assets";
import type { Media } from "../../types/payload-types";
import { Icon } from "astro-icon/components";
import CardImagePlaceholder from "../../assets/placeholders/card-placeholder.jpg";
interface Props {
  service: {
    slug: string;
    name: string;
    meta?: { image?: Media | number };
  };
}
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/images/*.{jpeg,jpg,png,gif,webp,avif}"
);

const { service } = Astro.props;
---

<a href={`/servizi/${service.slug}`} class="group">
  <div
    class="bg-white rounded-lg shadow-lg overflow-hidden transform hover:-translate-y-1 transition-all duration-300 border border-gray-100"
  >
    <div class="relative h-48">
      <Picture
        src={Boolean(service?.meta?.image) &&
        typeof service?.meta?.image == "object"
          ? images[`/src/assets/images/${service?.meta?.image?.filename}`]()
          : CardImagePlaceholder}
        alt={(Boolean(service?.meta?.image) &&
          typeof service?.meta?.image == "object" &&
          service?.meta?.image?.alt) ||
          "service image"}
        class="w-full h-full object-cover"
      />
      <div
        class="absolute inset-0 bg-gradient-to-t from-black/50 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
      </div>
    </div>
    <div class="p-6">
      <h3
        class="text-xl font-bold text-primary mb-2 group-hover:text-secondary transition-colors duration-300"
      >
        {service.name}
      </h3>
      <div
        class="flex items-center text-primary-background font-semibold group-hover:opacity-90 transition-colors duration-300"
      >
        Learn More
        <Icon
          size={16}
          class="ml-2 text-base text-black group-hover:translate-x-1 transition-transform duration-300"
          name="lucide:chevron-right"
        />
      </div>
    </div>
  </div>
</a>
