---
interface Props {
  btnClasses?: string;
}
const services: { docs: { slug: string; name: string }[] } = await fetch(
  `${import.meta.env.PAYLOAD_CMS_URL}/api/service?depth=1&draft=false&limit=100&select[name]=true`
).then((data) => data.json());
const { btnClasses } = Astro.props;
---

<form data-el="contact-form" class="space-y-4">
  <div class="grid grid-cols-2 gap-4">
    <div>
      <input
        type="text"
        name="firstName"
        placeholder="Nome"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-primary focus:border-primary text-sm"
        required
      />
    </div>
    <div>
      <input
        type="text"
        name="lastName"
        placeholder="Cognome"
        class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-primary focus:border-primary text-sm"
        required
      />
    </div>
  </div>

  <div>
    <input
      type="email"
      name="email"
      placeholder="Email *"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-primary focus:border-primary text-sm"
      required
      aria-required="true"
    />
  </div>

  <div>
    <input
      type="tel"
      name="phone"
      placeholder="Telefono *"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-primary focus:border-primary text-sm"
      required
      aria-required="true"
    />
  </div>

  <div>
    <select
      name="service"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-primary focus:border-primary text-sm"
      required
      aria-required="true"
    >
      <option value="">Seleziona servizio *</option>
      {
        services?.docs?.map((service) => {
          return (
            <option value={service.name.trim().replaceAll(" ", "-")}>
              {service.name}
            </option>
          );
        })
      }
    </select>
  </div>

  <div>
    <textarea
      name="message"
      placeholder="Messaggio *"
      rows="3"
      class="w-full px-3 py-2 border border-gray-300 rounded-md focus:ring-primary focus:border-primary text-sm"
      required
      aria-required="true"></textarea>
  </div>
  <div class="flex gap-x-2 items-baseline">
    <input
      type="checkbox"
      name="terms"
      id="terms"
      class="rounded transition-all accent-primary-background"
      required
      checked
    />
    <label for="terms" class="text-sm">
      Inviando il modulo dichiaro di aver preso visione dell’l’informativa sulla
      privacy e acconsento al trattamento dei miei dati personali ai sensi del
      Regolamento UE 2016/679 (“GDPR”)
    </label>
  </div>
  <div id="formMessage" class="hidden text-center p-3 rounded-md"></div>
  <button
    type="submit"
    class:list={[
      "w-full bg-primary-background hover:opacity-90 text-primary-foreground font-bold py-2 lg:py-3 px-4 rounded-md transition duration-300 text-sm cursor-pointer",
      btnClasses,
    ]}
  >
    Richiedi un Preventivo Gratuito
  </button>
</form>
