---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/hero/HeroSection.astro";
import ContactForm from "../components/ContactForm.astro";
import DifferenceSection from "../components/DifferenceSection.astro";
import TestimonialsSection from "../components/TestimonialsSection.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
import LatestNews from "../components/LatestNews.astro";
import AppointmentSection from "../components/AppointmentSection.astro";
import ContentSection from "../components/sections/ContentSection.astro";
import { homeContent } from "../config/content/home";
import FluidContentSection from "../components/FluidContentSection.astro";
import FluidContentSectionImage from "../assets/images/fluid-content-section-image.png";
import TwoTilesSection from "../components/TwoTilesSection.astro";
const { hero, sections } = homeContent;
---

<Layout
  title="Expert Foundation Repair Services in Adelaide"
  description="Adelaide's trusted foundation repair specialists. We provide professional foundation inspection, crack repair, and underpinning services. Get your free quote today!"
>
  <HeroSection content={hero}>
    <ContactForm />
  </HeroSection>

  {sections.map((section) => <ContentSection section={section} />)}
  <FluidContentSection
    title="The Importance of Renewable Energy in Your Property"
    image={{ src: FluidContentSectionImage, alt: "Renewable Energy" }}
  >
    <p>
      Here at Tauranga Solar System Pros, we're passionate about harnessing the
      power of the sun to provide clean, renewable solar energy in Tauranga.
    </p>

    <p>
      With fossil fuels being rapidly depleted and climate change posing a
      looming threat, turning to renewable energy sources has become more vital
      than ever before.
    </p>

    <p>
      Renewable energy like solar power isn't just good for the environment; it
      also gives us a sense of liberation from reliance on traditional energy
      sources.
    </p>

    <p>
      When you choose solar power in Tauranga, you're choosing to be part of the
      solution rather than contributing to the problem. You're reducing your
      carbon footprint and taking steps towards creating a greener future for
      generations to come.
    </p>
  </FluidContentSection>
  <TwoTilesSection title="Battery Storage Solutions for Solar Systems in Tauranga">
    <p>
      You're gonna love this: battery storage systems are the perfect complement
      to your eco-friendly initiative, ensuring you've got a steady supply of
      green power even when the sun takes a break.
    </p>
    <p>
      These storage solutions are like your own personal power bank, storing
      excess solar energy and releasing it as needed. That's right folks, even
      on cloudy days or during nighttime hours, you'll never be left in the dark
      again.
    </p>
    <p>
      You'll have control over your own energy production and consumption - talk
      about an empowering feeling!
    </p><p>
      But wait, it gets better! Not only do these battery storage systems
      liberate you from dependency on traditional non-renewable sources of
      energy but they also provide financial freedom with significant savings on
      electricity costs.
    </p>
    <p>
      Imagine that: a more sustainable world and more money in your pocket! Now
      there's something we can all get behind.
    </p>
    <p>
      We're excited to guide you through this journey towards renewable energy
      independence. From our first conversation until the day we flip that
      switch together, brace yourself for a seamless transition into cleaner,
      greener living!
    </p>
  </TwoTilesSection>
  <DifferenceSection />
  <WhyChooseUs />
  <TestimonialsSection />
  <LatestNews />
  <AppointmentSection />
</Layout>
